{% extends 'spartakiada/base.html' %}

{% block content %}
    <div class="middleContainer">
        <div class="addContainer">
            <h3 class="headtext">Dodaj turniej</h3>
            <form action="" method="POST">{% csrf_token %}
                <h3 class="maintext">Nazwa: </h3>
                {{ form.name }}
                <h3 class="maintext">Data (rrrr-mm-dd): </h3>
                {{ form.date }}
                <br>{{ form.errors }}<br>
                <input class="toggle" type="submit" value="&nbsp;DODAJ&nbsp;">
            </form>
        </div>
    </div>
{% endblock %}