{% extends 'spartakiada/base.html' %}

{% block content %}
<div class="descriptionContainer">
    <h1 class="headtext" style="font-size: 3em;">

        Olimpijskie rozgrywki w zasięgu ręki

    </h1><br>
    <h2 class="maintext">

        Piłkarzyki w pracy? Counter-Strike po godzinach? Koszykówka na osiedlu?

    </h2>
    <h3>
        <br><br>
        <p>Nie ważne w co grasz. Tutaj możesz szybciej i prościej zorganizować turniej w co tylko chcesz.</p><br>
        <p>Dodaj znajomych i wybierz dziedzinę. My zajmiemy się przygotowaniem losowej drabinki pucharowej,
            przechowaniem historii i prezentacją statystyk.</p><br>
        <p>Jest was za mało, żeby każdy mógł zagrać? Losowo przydzielmy niektórym przeciwnika, z&nbsp;którym nie
            sposób przegrać.</p><br>
        <p>Chcesz móc grać raz w zespołach, raz indywidualnie? Nie ma problemu! Wszystkie
            możliwości są dostępne tak dla zawodników indywidualnych, jak i dla drużyn.</p><br>
        <p>Wszystko za darmo, bez spamu i reklam!</p><br>

    </h3>
</div>
<div class="scoreMenuContainer">
    <div>
        <ol><h3 class="headtext" style="font-size: 16px;">Ostatnie<br>turnieje:</h3>
            <li style="font-size: 15px;"><a href="/cup/{{ cup.0.id }}" class="maintext" style="font-size: 15px;">{{ cup.0 }}</a></li>
            <li style="font-size: 15px;"><a href="/cup/{{ cup.1.id }}" class="maintext" style="font-size: 15px;">{{ cup.1 }}</a></li>
            <li style="font-size: 15px;"><a href="/cup/{{ cup.2.id }}" class="maintext" style="font-size: 15px;">{{ cup.2 }}</a></li>
        </ol>
        <ol><h3 class="headtext" style="font-size: 16px;">Najlepsi<br>zawodnicy:</h3>
            <li style="font-size: 15px;"><a href="/player_details/{{ players.0.partaker.player.id }}" class="maintext" style="font-size: 15px;">{{ players.0.partaker }}</a></li>
            <li style="font-size: 15px;"><a href="/player_details/{{ players.1.partaker.player.id }}" class="maintext" style="font-size: 15px;">{{ players.1.partaker }}</a></li>
            <li style="font-size: 15px;"><a href="/player_details/{{ players.2.partaker.player.id }}" class="maintext" style="font-size: 15px;">{{ players.2.partaker }}</a></li>

        </ol>
        <ol><h3 class="headtext" style="font-size: 16px;">Najlepsze<br>zespoły:</h3>
            <li style="font-size: 15px;"><a href="/team_details/{{ teams.0.partaker.team.id }}" class="maintext" style="font-size: 15px;">{{ teams.0.partaker }}</a></li>
            <li style="font-size: 15px;"><a href="/team_details/{{ teams.1.partaker.team.id }}" class="maintext" style="font-size: 15px;">{{ teams.1.partaker }}</a></li>
            <li style="font-size: 15px;"><a href="/team_details/{{ teams.2.partaker.team.id }}" class="maintext" style="font-size: 15px;">{{ teams.2.partaker }}</a></li>
        </ol>
    </div>
</div>
{% endblock %}