{% extends 'spartakiada/base.html' %}

{% block content %}

    <h3 class="headtext">Zawodnicy do usunięcia: </h3>
<form action="" method="POST">{% csrf_token %}
    <ol>
    {% for player in players %}
        <li style="align-items: center;"><a class="maintext">{{player}} <input class="checkbox" style="display: inherit; margin: 0;"type="checkbox"
            name="player" value="{{player}}"></a></li>
    {% endfor %}
    </ol>
    <input class="toggle" type="submit" value="&nbsp;USUŃ&nbsp;">
</form>

{% endblock %}

