{% extends 'spartakiada/base.html' %}

{% block content %}

    <h3 class="headtext">Zawodnicy do usunięcia: </h3>
<form action="" method="POST" onsubmit="return confirm('Czy jesteś pewien, żeby usunąć?\nJeżeli usuwany zawodnik brał udział w jakichś zawodach to usunięcie będzie miało negatywny wpływ na statystyki oraz drabinki turnieju.\nZostanie wyłączona możliwość podglądu rankingu danego turnieju!');">{% csrf_token %}
    <div class="listContainer">
        <ol>
        {% for player in players %}
            <li style="align-items: center;"><a class="maintext">{{player}} <input class="checkbox" style="display: inherit; margin: 0;"type="checkbox"
                name="player" value="{{player}}"></a></li>
        {% endfor %}
        </ol>
    </div>
    <input class="toggle" type="submit" value="&nbsp;USUŃ&nbsp;">
</form>
{% endblock %}

