{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="/static/spartakiada/style.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

<br>
<div class="tabcon">
    <h3 class="headtext">Zawodnicy</h3>
    <table class="stats" style="font-size: 16px;">
        <thead>
            <tr style="background-color: #DAA520;">
                <th>Imię i nazwisko</th>
                <th>Liczba zwycięstw</th>
                <th>Stoczone rozgrywki</th>
                <th>Wygrane turnieje</th>
                <th>Drugie miejsce</th>
                <th>Udziały w turniejach</th>
            </tr>
        </thead>
        <tbody>

        {% for player in cache %}
        {% if player.partaker.player %}

            <tr>
                <td>{{player.partaker}}</td>
                <td>{{player.won}}</td>
                <td>{{player.played}}</td>
                <td>{{player.tournament_won}}</td>
                <td>{{player.tournament_second}}</td>
                <td>{{player.tournament_participated}}</td>
            </tr>

        {% endif %}

        {% endfor %}
        </tbody>
    </table>
    <style>
            table, th, td {
            border: 1px solid black;
            }
    </style>
</div>

{% endblock %}