{% extends 'spartakiada/base.html' %}

{% block content %}

    <h3 class="headtext">Dodaj zawodników do drużyny <a class="maintext">{{ team }}</a></h3>
    <form action="" method="POST">{% csrf_token %}
        <div class="listContainer">
            <ol>
            {% for player in member_list %}
                <li style="align-items: center;"><a class="maintext">{{ player }}</a><input class="checkbox" type="checkbox" style="display: inline; margin: 0; margin-left: 5px;" name="player" value="{{ player }}"></li>
            {% endfor %}
            </ol>
        </div>
        <input class="toggle" type="submit" value="&nbsp;DODAJ&nbsp;">
    </form>

{% endblock %}