body {
    background: rgba(255,255,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 16%, rgba(230,230,230,1) 79%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(16%, rgba(250,250,250,1)), color-stop(79%, rgba(230,230,230,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 16%, rgba(230,230,230,1) 79%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 16%, rgba(230,230,230,1) 79%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 16%, rgba(230,230,230,1) 79%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 16%, rgba(230,230,230,1) 79%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=1 );
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

* {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
}

.nice {
    width: 200px;
    background-color: #A9A9A9;
    text-align: left;
    font-variant: small-caps;
    font-size: 21px;
}

.points {
    width: 25px;
    background-color: #C0C0C0;
    text-align: center;
    font-variant: small-caps;
    font-size: 16px;
}

.bordered {
    border: 1px solid grey;
    width: 500px;
    margin: 15px;
    -webkit-box-shadow: 0px 0px 10px 0px grey;
    -moz-box-shadow: 0px 0px 10px 0px grey;
    box-shadow: 0px 0px 10px 0px grey;
}

#fight_bordered {
    border: 1px solid grey;
    width: 200px;
    margin: 15px;
    -webkit-box-shadow: 0px 0px 10px 0px red;
    -moz-box-shadow: 0px 0px 10px 0px red;
    box-shadow: 0px 0px 10px 0px red;
}

#win_bordered {
    border: 1px solid gold;
    width: 200px;
    margin: 15px;
    -webkit-box-shadow: 0px 0px 20px 0px gold;
    -moz-box-shadow: 0px 0px 20px 0px gold;
}

.inputKO {
    width: 40px;
    text-align: center;
    background-color: #C0C0C0;
    font-variant: small-caps;
    font-size: 16px;
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    margin: 0px;
    align-items: center;
    justify-content: left;
}

.containeritems {
    max-height: inherit;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

.mouseover {
    background-color: grey;
    color: white;
}

.toggle {
    text-decoration: none;
    font-size: 16px;
    background-color: #C0C0C0;

    border-radius: 0.5em;
    padding: 0.2em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin: 0.5em;
    color: #222;
    box-shadow: 3px 3px 5px gray;
}

.toggle:hover {
    text-decoration: none;
    color: #8B0000;
}

.toggle:active {
    text-decoration: none;
    color: #8B0000
}

ol {
    font-size: 1.5em;
}

.maintext {
    text-decoration: none;
    color: #8B0000;
}

.maintext:hover {
    text-decoration: none;
    color: #8B0000;
}

#container {
    display: inline-block;
    margin-top: 180px;
    padding-right: 3em;
    padding-left: 3em;
    margin-bottom: 25px;
}

.headtext {
    letter-spacing: 1px;
    font-size: 2em;
    text-transform: uppercase;
}

.tabcon {
    margin: 20px;
}

.tabcon td {
    padding: 0.5em;
}

.checkbox {
    width: 16px;
    height: 16px;
}

.warningContainer {
    padding: 20px 0;
}

.warning {
    width: 250px;
    font-size: 14px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: rgb(200, 53, 78);
    color: rgb(250, 254, 255);
    text-shadow: rgb(231,76,60) 1px 2px 1px;
}

.descriptionContainer {
    float: left;
    height: 100%;
    width: 78%;
    margin-bottom: 3em;
}

.scoreMenuContainer {
    float: right;
    height: 100%;
    width: 20%;
    text-align: left;
    margin-bottom: 1em;
    padding-left: 2em;
    box-shadow: 6px 6px 10px gray;
    padding-bottom: 1em;
}

.siteWrapper {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 5em;
}

.personContainer {
    width: auto;
    height: auto;
    float: left;
    margin-top: 1em;
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-items: center;
}

.mediaContainer {
    width: auto;
    height: auto;
    float: left;
}

.personDetails {
    width: auto;
    height: auto;
    text-align: left;
    float: left;
    margin-left: 2em;
}

#menuToggle {
    display: none;
    position: fixed;
    
    padding-right: 1em;

    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;

    justify-content: flex-end;
    align-items: center;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0;
    z-index: 2;
    
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #cdcdcd;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 310px;
    left: 27px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: linear-gradient(to right, #222, #8B0000);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 18px;
    color: #9d9d9d;
}

#menu li:hover {
    color: #d8d8d8;
}
#menu a {
    text-decoration: none;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

.col-1 {width: 100%;}
.col-2 {width: 23%;}
.col-3 {width: 60%;}
.col-4 {width: 17%}
.col-5 {width: 50%; float: left;}

.siteHeader {
    height: 90px;
    display: flex;
    background: linear-gradient(to top, #222, #8B0000);
    position: fixed;
    top: 0;
    z-index: 1;
}

.logoContainer {
    display: inline-table;
    margin-top: 1em;
}

.logoContainer img {
    max-width: 100%;
    min-width: 230px;
    height: auto;
    width: auto\9; /* ie8 */
}

.listMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.listMenu ul li {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.listMenu ul a {
    color: #9d9d9d;
    font-size: 18px;
} 
  
.listMenu ul a:hover {
    color: #dddddd;
}

.loginContainer {
    min-width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.loginContainer a {
    display: flex;
    color: #9d9d9d;
}

.loginContainer a:hover {
    text-decoration: none;
    color: #dddddd;
}

.siteFooter {
    height: 51px;
    background: linear-gradient(to bottom, #222, #8B0000);
    display: inline-grid;
    align-items: center;
    opacity: 1;
}

.footerRightBox {
    float: right;
    text-align: right;
    padding-right: 3em;
    font-size: 14px;
    color: #9d9d9d;
}

.input {
    position: absolute;
}

@media only screen and (max-width: 1400px) {
    .listMenu {
        display: none;
    }
    #menuToggle {
        display: flex;
        position: sticky;
    }
    .loginContainer {
        left: 100%;
        position: sticky;
    }
    .siteHeader {
        justify-content: space-between;
    }
  }

@media only screen and (max-width: 775px) {
    .descriptionContainer {
        width: 60%;
    }
    .scoreMenuContainer {
        width: 30%;
    }
}

.tournamentTable {
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content:center;
}

.tournamentTable table {
    box-shadow: 6px 6px 5px gray;
}

.tableContainer {
    width: 100%;
    display: grid;
    grid-row: auto auto;
    grid-column-gap: 10vh;
    grid-row-gap: 3em;
    grid-template-columns: 50% 50%;
    align-items:center;
    justify-content:center;
}

.tournamentTable th{
    border: 2px solid black;
    text-align: center;
    font-size: 16px;
    padding: 0.3em;
    padding-right: 4em;
    padding-left: 4em;
}

.tournamentTable td{
    border: 2px solid black;
    text-align: center;
    font-size: 14px;
    padding: 0.3em;
}

.tournamentTable thead {
    background-color: #DAA520;
}

.tournamentTable tbody {
    background-color: white;
}

.grandPrixTable {
    display: grid;
    width: 50%;
    box-shadow: 6px 11px 5px gray;
}

.grandPrixTable th {
    border: 2px solid rgb(49, 49, 49);
    text-align: center;
    font-size: 18px;
    padding: 0.3em;
    padding-right: 4em;
    padding-left: 4em;
}

.grandPrixTable td {
    border: 2px solid rgb(49, 49, 49);
    text-align: center;
    font-size: 16px;
    padding: 0.3em;
}

.grandPrixTable thead {
    background-color: #DAA520;
}

.grandPrixTable tbody {
    background-color: white;
}

.GPTableContainer {
    display: flex;
    align-items:center;
    justify-content:center;
    margin-top: 5em;
    margin-bottom: 2em;
}

.listContainer {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-top: 1em;
    margin-bottom: 4em;
}

.middleContainer {
    display: grid;
    align-items:center;
    justify-content:center;
}

.addContainer {
    display: grid;
    text-align: center;
    box-shadow: 6px 6px 10px gray;
    padding: 1em;
    padding-right: 5em;
    padding-left: 5em;
}