.nice {
    width: 200px;
    background-color: #A9A9A9;
    text-align: left;
    font-variant: small-caps;
    font-size: 21px;
}

.points {
    width: 25px;
    background-color: #C0C0C0;
    text-align: center;
    font-variant: small-caps;
    font-size: 16px;
}

.bordered {
    border: 1px solid grey;
    width: 500px;
    margin: 15px;
    -webkit-box-shadow: 0px 0px 10px 0px grey;
    -moz-box-shadow: 0px 0px 10px 0px grey;
    box-shadow: 0px 0px 10px 0px grey;
}

#fight_bordered {
    border: 1px solid grey;
    width: 200px;
    margin: 15px;
    -webkit-box-shadow: 0px 0px 10px 0px red;
    -moz-box-shadow: 0px 0px 10px 0px red;
    box-shadow: 0px 0px 10px 0px red;
}

#win_bordered {
    border: 1px solid gold;
    width: 200px;
    margin: 15px;
    -webkit-box-shadow: 0px 0px 20px 0px gold;
    -moz-box-shadow: 0px 0px 20px 0px gold;
}

.inputKO {
    width: 40px;
    text-align: center;
    background-color: #C0C0C0;
    font-variant: small-caps;
    font-size: 16px;
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    margin: 0px;
    align-items: center;
    justify-content: left;
}

.containeritems {
    max-height: inherit;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

.mouseover {
    background-color: grey;
    color: white;
}

body {
    background-color: grey;
}

.toggle {
    letter-spacing: 1px;
    color: black;
    font-size: 17px;
    border: 2px solid gold;
    border-radius: 7px;
    background-color: grey;
    padding: 5px;
    text-decoration: none;
}

ol {
    font-size: 1.5em;
}

.maintext {
    text-decoration: none;
    color: #8B0000;
}

.toggle:hover {
    text-decoration: none;
    color: black;
}

.maintext:hover {
    text-decoration: none;
    color: #8B0000;
}

#container {
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 80px;
}

.headtext {
    letter-spacing: 1px;
    font-size: 2em;
    text-transform: uppercase;
}

.tabcon {
    margin: 20px;
}

.checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 16px;
    height: 16px;
}

.footer {
    padding: 20px 0;
}

.warning {
    width: 250px;
    font-size: 14px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: rgb(200, 53, 78);
    color: rgb(250, 254, 255);
    text-shadow: rgb(231,76,60) 1px 2px 1px;
}

.descriptionContainer {
    float: left;
    height: 100%;
    width: 78%;
    margin-bottom: 3em;
}

.scoreMenuContainer {
    float: right;
    height: 100%;
    min-height: 100vh;
    width: 20%;
    text-align: left;
    margin-bottom: 1em;
    padding-left: 2em;
    padding-right: 1em;
}

.logoContainer {
    display: table-cell;
    float: left;
}

.listMenu {
    display: table-cell;
    float: right;
    position: fixed;
}

.loginContainer {
    display: table-cell;
    width: inherit;
    padding-right: 25vh;
}

.siteWrapper {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 5em;
}

.personContainer {
    width: auto;
    height: auto;
    float: left;
    margin-top: 1em;
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-items: center;
}

.mediaContainer {
    width: auto;
    height: auto;
    float: left;
}

.personDetails {
    width: auto;
    height: auto;
    text-align: left;
    float: left;
    margin-left: 2em;
}

#menuToggle {
    display: block;
    position: fixed;
    top: 40px;
    right: 20px;
    float: right;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0;
    z-index: 2;
    
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #cdcdcd;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    left: -190px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #222;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
    color: #9d9d9d;
}

#menu li:hover {
    color: #d8d8d8;
}
#menu a {
    text-decoration: none;
}

#menuToggle input:checked ~ ul {
    transform: none;
}